<app-navbar></app-navbar>


<div class="profile-page">

  <div class="profile-card">

    <!-- LEFT PANEL -->
    <div class="left">

      <div class="avatar">
        <i class="fas fa-user"></i>
      </div>

      <h2>{{profile.fullName || 'User'}}</h2>

      <span class="role">
        {{profile.role || 'SYSTEM USER'}}
      </span>

      <p class="location">
        {{profile.region || 'No Region'}}
      </p>

    </div>


    <!-- RIGHT PANEL -->
    <div class="right">

      <h2>Personal Information</h2>

      <div class="info-grid">

        <div>
          <label>Full Name</label>
          <p>{{profile.fullName}}</p>
        </div>

        <div>
          <label>Email</label>
          <p>{{profile.email}}</p>
        </div>

        <div>
          <label>Phone</label>
          <p>{{profile.phoneNumber}}</p>
        </div>

        <div>
          <label>Region</label>
          <p>{{profile.region}}</p>
        </div>

        <div>
          <label>Role</label>
          <p>{{profile.role}}</p>
        </div>

      </div>

      <button class="update-btn">
        Update Profile
      </button>

    </div>

  </div>

</div>
