.profile-page {
  height: 100vh;
  background: linear-gradient(135deg,#e8f5e9,#c8e6c9);
  display:flex;
  justify-content:center;
  align-items:center;
}

.profile-card {
  width:900px;
  height:400px;
  display:flex;
  border-radius:20px;
  overflow:hidden;
  box-shadow:0 10px 30px rgba(0,0,0,0.2);
  background:white;
}

/* LEFT SIDE */

.left{
  width:35%;
  background:#c8e6c9;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.avatar{
  width:100px;
  height:100px;
  border-radius:50%;
  background:white;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:50px;
  color:#2e7d32;
}

.role{
  background:#2e7d32;
  color:white;
  padding:6px 14px;
  border-radius:20px;
  margin-top:10px;
}

.location{
  margin-top:10px;
  color:#555;
}

/* RIGHT SIDE */

.right{
  width:65%;
  padding:40px;
}

.right h2{
  margin-bottom:20px;
  color:#2e7d32;
}

.info-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
}

label{
  font-weight:bold;
}

.update-btn{
  margin-top:30px;
  padding:10px 20px;
  background:#2e7d32;
  color:white;
  border:none;
  border-radius:20px;
  cursor:pointer;
}
